

.container-portada{
    width: 100%;
    height: 600px;
    background-image: url(../../media/portada3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:800px){
    .cover{
        display: inline-block;
    }
}

.container-details{
    width: 150%;
    max-width: 1200px;
    position: relative;
    top: 100px;
    margin: auto;
    color: #000;
}

.details{
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 50px;
    
}

.details p{
    padding-bottom: 20px;
    
}

.details a{
    top: 30px;
    background: #fff;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none; 
}